<div class="wrapper fadeInDown">
    <div id="formContent">
     
      
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="" />
      </div>
  
<form [formGroup]="CertifForm"  (ngSubmit)="onSave()">
    
    <div>
        <input type="text"  class="fadeIn second"  id="code" name="code" placeholder="Code" formControlName="code">
        <div *ngIf="submitted && f.code.errors">
            <div *ngIf="f.code.errors.required">
            </div>
        </div>
    </div>
    <div>
        <input type="text"  class="fadeIn third" id="date" name="date" placeholder="Date" formControlName="date">
        <div *ngIf="submitted && f.date.errors">
            <div *ngIf="f.date.errors.required">
            </div>
        </div>
    </div>
        <input type="submit" class="fadeIn fourth" value="Submit">
      
    
    
    
</form> 
</div>
  </div>
